/* Tool Tip  */
.TooltipContent {
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  transform-origin: var(--radix-tooltip-content-transform-origin);
}
.TooltipContent[data-side="top"] {
  animation-name: slideUp;
}
.TooltipContent[data-side="bottom"] {
  animation-name: slideDown;
}
.TooltipContent[data-state="closed"] {
  animation-name: closeUp;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.3, 0, 1, 1);
}

@keyframes closeUp {
  from {
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
  to {
    opacity: 0;
    scale: 0.9;
    translate: 0 -10px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    scale: 0.9;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    scale: 0.9;
    translate: 0 10px;
  }
  to {
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}
/* 
@keyframes scaleDown {
  from {
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
  to {
    opacity: 0;
    scale: 0.9;
  }
} */
