@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src:
    url("./assets/font/roboto-regular.woff2") format("woff2"),
    url("./assets/font/roboto-regular.woff2") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src:
    url("./assets/font/roboto-medium.woff2") format("woff2"),
    url("./assets/font/roboto-medium.woff2") format("woff");
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

:root {
  /* light */
  /* --primary: 9, 86, 206; */
  --primary: 8, 86, 207;
  --on-primary: 255, 255, 255;

  --primary-container: 218, 226, 255;
  --on-primary-container: 0, 24, 71;

  --secondary: 88, 94, 113;
  --on-secondary: 255, 255, 255;

  --secondary-container: 220, 226, 249;
  --on-secondary-container: 21, 27, 44;

  --tertiary: 115, 84, 113;
  --on-tertiary: 255, 255, 255;

  --tertiary-container: 254, 215, 249;
  --on-tertiary-container: 43, 18, 44;

  --error: 186, 26, 26;
  --error-container: 255, 218, 214;

  --on-error: 255, 255, 255;
  --on-error-container: 65, 0, 2;

  --outline: 117, 119, 128;
  --outline-variant: 197, 198, 208;

  --background: 254, 251, 255;
  --on-background: 31, 31, 31;

  --surface: 251, 248, 253;
  --on-surface: 31, 31, 31;
  --surface-dim: 219, 217, 221;
  --surface-bright: 251, 248, 253;

  --surface-variant: 225, 226, 236;
  --on-surface-variant: 69, 70, 79;

  --inverse-on-surface: 242, 240, 244;
  --inverse-surface: 48, 48, 52;

  --surface-container-highest: 228, 226, 230;
  --surface-container-high: 233, 231, 236;
  --surface-container: 239, 237, 241;
  --surface-container-low: 245, 243, 247;
  --surface-container-lowest: 255, 255, 255;

  --overlay: 31, 31, 31;

  --elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%),
    0px 1px 3px 1px rgb(0 0 0 / 15%);
  --elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%),
    0px 2px 6px 2px rgb(0 0 0 / 15%);
  --elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%),
    0px 4px 8px 3px rgb(0 0 0 / 15%);
}

.darkMode {
  /* dark */
  --primary: 178, 197, 255;
  --on-primary: 0, 44, 114;

  --primary-container: 0, 64, 160;
  --on-primary-container: 218, 226, 255;

  --secondary: 192, 198, 221;
  --on-secondary: 42, 48, 66;

  --secondary-container: 64, 70, 89;
  --on-secondary-container: 220, 226, 249;

  --tertiary: 225, 187, 221;
  --on-tertiary: 65, 39, 65;

  --tertiary-container: 90, 61, 89;
  --on-tertiary-container: 254, 215, 249;

  --error: 255, 180, 171;
  --error-container: 147, 0, 10;

  --on-error: 105, 0, 5;
  --on-error-container: 255, 218, 214;

  --outline: 143, 144, 154;
  --outline-variant: 69, 70, 79;

  --background: 31, 31, 31;
  --on-background: 227, 227, 227;

  --surface: 19, 19, 22;
  --on-surface: 199, 198, 202;
  --surface-dim: 19, 19, 22;
  --surface-bright: 57, 57, 60;

  --surface-variant: 69, 70, 79;
  --on-surface-variant: 197, 198, 208;

  --inverse-on-surface: 31, 31, 31;
  --inverse-surface: 227, 227, 227;

  --surface-container-highest: 52, 52, 56;
  --surface-container-high: 41, 42, 45;
  --surface-container: 31, 31, 35;
  --surface-container-low: 27, 27, 31;
  --surface-container-lowest: 13, 14, 17;
  /* Custom Colors */
  --md-custom-color-Success: 39, 84, 9;

  --overlay: 19, 19, 22;
}

body {
  background-color: rgb(var(--background));
  transition: background-color 250ms ease-in-out;
}

.inputShadow:focus {
  box-shadow:
    inset 1px 0 rgb(var(--primary)),
    inset -1px 0 rgb(var(--primary)),
    inset 0 -1px rgb(var(--primary)),
    inset 0 1px rgb(var(--primary));
}
.onSurface {
  color: rgb(var(--on-surface));
  @apply absolute -top-2 left-3.5 bg-surfaceContainerLowest transition-all duration-250 ease-in-out;
}

/* Theme Toggle  */
.theme-toggle > svg {
  @apply h-[22px] w-[22px] fill-onSurface/90 transition-all duration-250 ease-in-out group-hover:fill-onSurface/100 sm:h-6 sm:w-6;
}

.sidebar {
  position: fixed;
  /* top: 82.17px; */
  height: 100%;
  min-height: auto;
}
.focusState {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-onBackground focus-visible:ring-offset-2;
}
